
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBooksLabel">Create or edit a Books</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.books.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.books.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bookName">Book Name</label>
            <input type="text" class="form-control" name="bookName" id="field_bookName"
                    ng-model="vm.books.bookName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                    ng-model="vm.books.author"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.books.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_yearOfPublication">Year Of Publication</label>
            <input type="number" class="form-control" name="yearOfPublication" id="field_yearOfPublication"
                    ng-model="vm.books.yearOfPublication"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_harCopy">Har Copy</label>
            <input type="checkbox" class="form-control" name="harCopy" id="field_harCopy"
                    ng-model="vm.books.harCopy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_onlineCopy">Online Copy</label>
            <input type="checkbox" class="form-control" name="onlineCopy" id="field_onlineCopy"
                    ng-model="vm.books.onlineCopy"
                    />
        </div>

        <div class="form-group">
            <label for="field_library">Library</label>
            <select class="form-control" id="field_library" name="library" ng-model="vm.books.library" ng-options="library as library.id for library in vm.libraries track by library.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
